@font-face {
  font-family: "Moderustic";
  src: url("./font/Moderustic-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Moderustic";
  src: url("./font/Moderustic-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Moderustic";
  src: url("./font/Moderustic-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Moderustic";
  src: url("./font/Moderustic-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Moderustic";
  src: url("./font/Moderustic-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Moderustic";
  src: url("./font/Moderustic-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "Moderustic";
  src: url("./font/Moderustic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font supports all weights */
  font-style: normal;
}
